<h2 id="title">Ember CLI Opus Recorder</h2>

<div>
  Recording
  {{#if recorder.isRecording}}
    Started!!
  {{else}}
    Stopped
  {{/if}}
</div>
<br>

<button type="button" {{on "click" (fn (route-action "record"))}}>Record</button>
<button type="button" {{on "click" (fn (route-action "play"))}}>Play</button>
<button type="button" {{on "click" (fn (route-action "stop"))}}>Stop</button>
